<!-- Contact -->
<section id="Contact" class="four">
    <div class="container" style="display: table; background-color: lightcyan; ;">
    

        <header>
            <h2>Contact</h2>
        </header>

        <p>For engagements, please shoot me an email. </p>
        <p>Otherwise, get in touch with me </p> 

            
            <p>Twitter: @changtuizhu</p> 
            
            <p>LinkedIn: @lei-zhu-2019 </p> 

        <form method="post" action="#">
            <div class="row">
                <div class="col-6 col-12-mobile"><input type="text" name="name" placeholder="Name" /></div>
                <div class="col-6 col-12-mobile"><input type="text" name="email" placeholder="Email" /></div>
                <div class="col-12">
                    <textarea name="message" placeholder="Message"></textarea>
                </div>
                <div class="col-12">
                    <input type="submit" value="Send Message" />
                </div>
            </div>
        </form>
    </div>

</section>