<!-- About -->
<section id="top" class="one dark cover">

    <div class="container">
        <div class="row">
            <div class="col-4 col-5-large col-12-medium">
                <span class="image fit"><img src="images/author.jpg" alt="photo"></span>
                </div>
                <div class="col-8 col-5-large col-12-medium">
                    <p>“Everyone thinks of changing the world, but no one thinks of changing himself.” -- Leo Tolstoy</p>
                    <header>
                        <h2>Hi. I'm <strong>Sophia</strong>.</h2>
                    </header>
                    <p>I am studying international affairs and <strong>data visualization</strong> at <strong>Columbia University in New York City</strong>.  
                    I am enthusiastic about data-driven research, especially in gender studies.  
                    I worked as an international news editor in Beijing, Cairo, and New York.</p>
                </div>
            </div>
        <footer>
            <a href="#Bio" class="button scrolly"> <strong>Bio</strong></a>
        </footer>
 
    </div>
</section>